@import "tailwindcss";

body {
  font-family: Inter, sans-serif;
}

@layer utilities {
  .container {
    @apply w-[90%] m-auto;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-column-left {
    @apply flex flex-col justify-between items-start;
  }
}

.hero-img {
  background-image: url("../public/images/bg-img.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.helvetica {
  font-family: Helvetica, sans-serif;
}

.complex-b {
  color: rgba(0, 87, 107, 1);
  box-shadow: -3px -3px 6px 1px rgba(255, 255, 255, 0.5) inset;
  box-shadow: 3px 3px 6px 0px rgba(234, 234, 234, 1) inset;
}
